  :root{
    width: 751px;
    background-color: #07130f ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  header{
      width: 751px;
      height: 235px;
      background-color: #2D7053;
      background-image: url('../img/Circle.png'), url(../img/menu.png), url(../img/menu.png), url(../img/menu.png);
      background-repeat: no-repeat no-repeat, no-repeat no-repeat, no-repeat no-repeat, no-repeat no-repeat;
      background-position: top 47px left 37px, top 83px right 45px, top 111px right 45px, top 139px right 45px;
  }
  .info{
    width: 134px;
    height: 131px;
    padding-top: 52px;
    padding-left: 237px;
    line-height: 35px;
    color: white;
    font-size:27px ;
  }
  .menu{
    width: 85px;
    height: 70px;
    float: right;
    margin-right: 45px;
    margin-top: 66px;
    margin-bottom: 84px
  }
  .office{
      width: 751px;
      height: 466px;
      padding-left: 215px;
      line-height: 250px;
      background-image: url('../img/rectangle.png'), url('../img/pic_office.png');
      background-repeat: no-repeat no-repeat, no-repeat no-repeat;
      background-position: bottom 47px left 204px, top left;
      color:white;
      font-size:32px;
  }
  a{
    text-decoration-line: none;
    color: white;
  }
  .photo
  {
    width: 751px;
    height: 1024px;
    background-image: url('../img/portret.png');
    background-repeat: no-repeat no-repeat;
    background-position: top 73px left 44px;
    background-color: white;
  }
  h2
  {
    padding-top: 100px;
    padding-left: 380px;
    font-size: 36px;
  }
  .spec
  {
    padding-left: 380px;
    font-size: 24px;
  }
  .doc_talk
  {
    width: 590px;
    height: 166px;
    padding-top:120px;
    font-size: 22px;
    text-align: left;
    margin-left: 44px;
  }
  .reason
  {
    width: 545px;
    height: 32px;
    text-indent: 44px;
    font-size: 30px;
  }
  .reason_text
  {
    width: 256px;
    height: 190px;
    margin-left: 50px;
    font-size: 22px;
  }
  .order{
    width: 342px;
    height: 175px;
    padding-left: 215px;
    background-image: url('../img/rectangle.png');
    background-repeat: no-repeat no-repeat;
    background-position:  top 25px left 204px;
    color: white;
    font-size:32px;
  }
  .bottom_panel
  {
    width: 751px;
    height: 154px;
    background-color: #888888;
  }
  .circle_bottom
  {
    width: 95px;
    height: 95px;
    background-image: url('../img/Circle.png');
    background-repeat: no-repeat no-repeat;
    background-size: 92px 92px;
    padding-left: 37px;
    padding-top: 29px;
    background-position: top 30px left 37px;
  }
  .phone
  {
    width: 660px;
    height: 16px;
    font-size: 18px;
    text-align: right;
    padding-top: 16px;
    color: white;
    white-space: pre;
  }